.popup__container {
  position: relative;
  margin: auto;
  width: 430px;
  /* padding-left: 36px;
  padding-right: 36px; */
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width:767px) {
  .popup__container {
    max-width: 282px;
  }
}