.popup__button {
  width: 358px;
  height: 50px;
  border: 0;
  background-color: #000;
  color: #fff;
  padding: 0;
  border-radius: 2px;
  margin: 0 36px 37px;
}

@media screen and (max-width:767px) {
  .popup__button {
    max-width: 238px;
    margin: 0 auto 25px;
  }
}