.popup__input-name {
  display: block;
  padding: 0;
  width: 358px;
  border: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 30px;
  margin-left: 36px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.popup__input-name:focus {
  outline: none;
}

@media screen and (max-width:767px) {
  .popup__input-name {
    width: 238px;
    margin-left: 0;
  }
}